{% extends "base.html" %}

{% block content %}
<h1>Добавьте город</h1>
<div>Запрос к API - введите такой же, как город, или введите конкретное место в городе (например, "Москва, Красная Площадь")</div>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.town_name.label }}<br>
        {{ form.town_name(class="form-control") }}<br>
        {% for error in form.town_name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.api_request_string.label }}<br>
        {{ form.api_request_string(class="form-control") }}<br>
        {% for error in form.api_request_string.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}