{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<div><a href="/addtown"> Добавить свой город </a><br></div>
<p> {{text}}</p>
<img src={{image_source}} alt="Ошибка загрузки картинки. Обновите страницу">
<form class="login_form" method="post">

{% for variant in variants %}
<input class="form-check-input" type="radio" name="chosen_town" id="choose" value="{{variant}}">
    <label class="form-check-label" for="choose">
        {{variant}}
    </label>
    <br>
{% endfor %}
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endblock %}